<header class="container">
	<div class="w-100 d-flex justify-content-between align-items-center" style="height: 60px;">
		<div class="">
			<!-- Logo -->
			<a class="" routerLink="/dashboard" aria-label="Front">
				<img class="navbar-brand-logo" src="/assets/logos/telemedicina.png" alt="Telemedicina Analiza El Salvador">

			</a>
			<!-- End Logo -->
		</div>


		<!-- Secondary Content -->
		<div class="navbar-nav-wrap-content-right">
			<!-- Navbar -->
			<a routerLink="/auth"  type="button" class="btn p-2 btn-primary btn-lg">Iniciar sesión</a>
			<!-- End Navbar -->
		</div>
		<!-- End Secondary Content -->
	</div>
</header>