
  <div class="container mt-3" >
    <div class="text-center mb-5 mb-md-7">
      <a class="navbar-brand d-flex justify-content-center mb-5" aria-label="Telemedicina Analiza El Salvador" >
        <img  src="/assets/logos/telemedicina.png" alt="Telemedicina Analiza El Salvador" width="162">
      </a>
      <h1 *ngIf="!cambioExitoso" class="h2 text-primary">¡Cambiar Contraseña!</h1>

      <div *ngIf="cambioExitoso">
        <h1 class="h2 text-primary mb-3">Su contraseña se cambio con exito!</h1>
        <div class="d-grid mb-3 mt-2">
          <a type="button" class="btn btn-primary btn-lg" routerLink="/auth">Iniciar sesión</a>
        </div>
      </div>
    </div>


    <div *ngIf="!cambioExitoso" class="card py-2 mt-4">
      <form [formGroup]="recoveryPassForm" form class="card-body needs-validation" novalidate>

      <div class="mb-4">
        <div class="input-group input-group-merge">
          <input placeholder="Contraseña" formControlName="password" [class]="recoveryPassForm.get('password')?.invalid && formSubmited?'is-invalid':''" [type]="showPassword?'text':'password'" class="form-control" name="password">
          <a (click)="showPassword = !showPassword" class="input-group-append input-group-text">
            <i class="fas fa-eye" *ngIf="showPassword"></i>
            <i class="fas fa-eye-slash" *ngIf="!showPassword"></i>
          </a>
        </div>
        <app-password-strength
          [passwordToCheck]="recoveryPassForm.get('password')?.value"
          (passwordStrength)="onPasswordStrengthChanged($event)"
        ></app-password-strength>
        <span *ngIf="recoveryPassForm.get('password')?.invalid && formSubmited" class="invalid-feedback d-block">{{getErrorPasswordMessage()}}</span>
      </div>

      <div class="mb-4">
        <div class="input-group input-group-merge">
          <input placeholder="Confirmar contraseña" formControlName="confirmPassword" [class]="recoveryPassForm.get('confirmPassword')?.invalid && formSubmited?'is-invalid':''" [type]="showPasswordC?'text':'password'" class="form-control" name="password">
          <a (click)="showPasswordC  = !showPasswordC" class="input-group-append input-group-text">
            <i class="fas fa-eye" *ngIf="showPasswordC"></i>
            <i class="fas fa-eye-slash" *ngIf="!showPasswordC"></i>
          </a>
        </div>

        <span *ngIf="recoveryPassForm.get('confirmPassword')?.invalid && formSubmited" class="invalid-feedback d-block">{{getErrorConfirmPasswordMessage()}}</span>
      </div>

      <div class="d-grid mb-3">
        <button (click)="changePassword()" type="button" class="btn btn-primary btn-lg">Cambiar contraseña</button>
      </div>
 
      </form>
    </div>

  </div>





