.banner-profile{
  height: 250px;
  img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.btn-filter {
  background-color: #1D70B7;
  color: #fff;
  width: 100px;
  text-align: center !important;
}