.title-encuesta {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(29, 112, 183, 1)
}

.description-encuesta {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(29, 112, 183, 1);
    max-width: 350px;
}

.title-agradecimiento-encuesta{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(29, 112, 183, 1);
}

.description-agradecimiento-encuesta {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(29, 112, 183, 1);
}