<ng-container [ngSwitch]="variant">

  <div *ngSwitchDefault class="skeleton-wrapper">
    <div class="skeleton-row" *ngFor="let r of rowsArr">
      <div class="sk sk-xs"></div>
      <div class="sk sk-md"></div>
      <div class="sk sk-lg"></div>
      <div class="sk sk-sm"></div>
      <div class="sk sk-btn"></div>
    </div>
  </div>

  <div *ngSwitchCase="'spinner'" class="ls-wrapper">
    <span class="ls-dot"></span>
    <span class="ls-dot"></span>
    <span class="ls-dot"></span>
  </div>

</ng-container>
