<div class="modal-header border-bottom pb-3">
    <h4 class="modal-title">Términos y condiciones</h4>
    <button type="button" class="close  btn-icon" (click)="ngbActiveModal.close({accepted:false})">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-auto" style="padding: 2rem !important;">
   <h2 class="title-terms">TERMINOS Y CONDICIONES</h2>

   <p>Bienvenido a Telemedicina Analiza El Salvador, un servicio de telemedicina que permite la consulta
    médica a distancia. Al acceder y utilizar nuestros servicios, usted acepta estos Términos
    y Condiciones.
    </p>

    <h5 class="subtitle">Definiciones</h5>

    <ul>
        <li>
            <strong>Usuario:</strong> Persona que accede y utiliza la Plataforma para recibir servicios de
            telemedicina.
        </li>
        <li>
            <strong>Profesional de la Salud:</strong> Médico u otro profesional certificado que ofrece
consultas a través de la Plataforma.
        </li>
        <li>
            <strong>Plataforma:</strong> El sitio web a través de la cual se prestan los servicios de
telemedicina.
        </li>
    </ul>

    <h5 class="subtitle">Uso de la Plataforma </h5>

    <p>
        El Usuario debe ser mayor de edad o contar con la autorización de un tutor legal.
    </p>

    <p>
        Los servicios ofrecidos a través de la Plataforma no sustituyen una consulta presencial,
cuando el padecimiento lo amerite.
    </p>

    <p>
        La información proporcionada debe ser veráz y completa.
    </p>

    <h5 class="subtitle">Responsabilidad del Usuario</h5>

    <ul>
        <li>
            Mantener la confidencialidad de sus credenciales de acceso
        </li>
        <li>
            Seguir las recomendaciones de los Profesionales de la Salud.
        </li>
        <li>
            Utilizar la Plataforma de manera responsable y conforme a la ley de Derecho de
autor (Art. 1)
        </li>
    </ul>

    <h5 class="subtitle">Responsabilidad de la Plataforma</h5>

    <ul>
        <li>
            Garantizar el acceso a los servicios de telemedicina dentro de los límites de su
infraestructura.
        </li>
        <li>
            La plataforma cuenta con medidas de seguridad para proteger los datos de los
Usuarios.
        </li>
        <li>
            No se hace responsable por diagnósticos erróneos derivados de información
incompleta o falsa proporcionada por el Usuario.
        </li>
    </ul>

    <h5 class="subtitle">Pagos y Reembolsos</h5>

    <h5 class="subtitle">Políticas de cancelación</h5>

    <ul>
        <li>
            Las citas pueden cancelarse sin penalización hasta 24 horas antes del horario
programado.
        </li>
        <li>
            Cancelaciones realizadas con menos de 24 horas de anticipación no serán
reembolsadas, pero podrán reprogramarse en base a disponibilidad de agenda
y medico disponible, una vez sin costo.
        </li>
        <li>
            Las ausencias sin aviso no tienen derecho a reembolso ni reprogramación
gratuita.
        </li>
        <li>
            Si la cancelación es por parte de nuestro personal médico, el usuario tendrá
derecho a reprogramación o reembolso total.
        </li>
    </ul>

    <h5 class="subtitle">Políticas de devolución</h5>

    <ul>
        <li>
            Una vez realizada la consulta, no se realizarán devoluciones, salvo en casos
justificados como:
            <ul>
                <li>
                    Problemas técnicos imputables a nuestra plataforma que impidan la
                    consulta. 
                </li>
                <li>
                    Doble cobro o error en la facturación.
                </li>
            </ul>
        </li>
        <li>
            Reembolsos aprobados se harán en un plazo de 5 a 10 días hábiles, a la cuenta
bancaria del paciente preferiblemente BAC.
        </li>
    </ul>


    <h5 class="subtitle">Políticas de envío</h5>

    <ul>
        <li>
Los <strong>documentos digitales</strong> como recetas, certificados o resultados serán
enviados al portal del paciente, según la información proporcionada en el
registro.
        </li>
        <li>
            El tiempo estimado de entrega será de <strong>2 a 24 horas</strong> posteriores a la consulta,
dependiendo del tipo de documento.
        </li>
        <li>
            El usuario es responsable de proporcionar datos correctos para la entrega
digital. En caso de error, debe comunicarse con nuestro equipo de soporte.
        </li>
    </ul>


    <h5 class="subtitle">Políticas de Privacidad y seguridad</h5>

    <ul>

        <li>
            Nuestra plataforma utiliza tecnología de encriptación y medidas de seguridad
            para proteger la información médica y transacciones.
        </li>

        <li>
            El usuario es responsable de mantener la confidencialidad de su cuenta y
            contraseña.            
        </li>

        <li>
            La información médica y personal del usuario será tratada con absoluta
            confidencialidad.
        </li>

        <li>
            No compartiremos su información con terceros sin su consentimiento, salvo
cuando sea requerido por ley o para su atención médica.
        </li>

        <li>
            El Usuario puede solicitar la eliminación de sus datos personales conforme a la
            normativa aplicable. <strong>(Normativa Aplicable en Materia de Protección de Datos
                Personales – El Salvador:</strong> El tratamiento de los datos personales de los usuarios
            se realiza de conformidad con la legislación salvadoreña vigente en materia de
            privacidad y protección de datos. En particular, se consideran las siguientes
            disposiciones: <strong>Constitución de la República de El Salvador</strong>, Artículo 2:
            Reconoce el derecho a la intimidad y a la propia imagen, base del habeas data,
            que permite a toda persona solicitar acceso, rectificación o eliminación de
            información contenida en bases de datos públicas o privadas. <strong>Ley de Acceso a
                la Información Pública (Decreto No. 534):</strong> Establece principios relacionados
            con la protección de la información personal en manos de entes públicos.
            <strong>Códigos y legislación civil y penal</strong>, en lo relativo a la intimidad, honra y
            uso indebido de información personal.)            
        </li>

        <li>
            En caso de observar en su plataforma y usuario un uso que no reconozca, debe
            notificar de inmediato al 2276-1800. 
        </li>
    </ul>

    <h5 class="subtitle">Modificaciones a los Términos y Condiciones</h5>
    <p>
        La Plataforma se reserva el derecho de modificar estos Términos y Condiciones en
cualquier momento. Las modificaciones serán notificadas a los Usuarios mediante la
Plataforma.
    </p>

    <h5 class="subtitle">Jurisdicción y Legislación Aplicable</h5>
    <p>Estos Términos y Condiciones se rigen por la Constitución de la República de
        El Salvador y demás leyes del país donde opera la Plataforma. Cualquier disputa
        será resuelta ante los tribunales competentes.</p>

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary " style="width: 300px;"  (click)="ngbActiveModal.close({accepted:true})">Aceptar Términos y Condiciones</button>
</div>