<!-- Modal -->
<div class="modal fade" id="registerInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg assignJob" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title h4" id="myLargeModalLabel">Aprobar Empleado </h5>
        <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <i class="tio-clear tio-lg"></i>
        </button>
      </div>
      <div class="modal-body" style="padding: 1.25rem;">
        <!-- Media -->

        <!-- End Media -->

        <div class="row form-group" style="justify-content: center;">

            <div class="media align-items-center mt-2 title-modal" >
              <!-- <i class="tio-format-points nav-icon"></i> -->

              <div class="media-body">Asignar puesto de trabajo</div>
            </div>


          <div class="col-sm">
            <!-- Select -->

            <!-- End Select -->
          </div>
        </div>
        <!-- End Row -->

      </div>

      <div class="modal-footer" style="padding-bottom: 1.25rem;">
        <button type="button" id="discardFormt" class="btn btn-white" data-dismiss="modal">Cancelar</button>
        <button type="button" id="processEvent" class="btn btn-primary" data-dismiss="modal"  >Aprobar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
