<div class="text-right m-3">
  <button (click)="getinsurers()" class="btn btn-primary btn-200">Actualizar</button>
</div>

<div class="card-table">
  <div class="table-responsive datatable-custom">
    <table id="datatableusers"
    class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle mb-0 pb-0"
    data-hs-datatables-options='{
           "columnDefs": [{
              "targets": [0, 7],
              "orderable": false
            }],
           "order": [],
           "info": {
             "totalQty": "#datatableWithPaginationInfoTotalQty"
           },
           "search": "#datatableSearch",
           "entries": "#datatableEntries",
           "pageLength": 15,
           "isResponsive": false,
           "isShowPaging": false,
           "pagination": "datatablePagination"
         }'>
      <thead class="thead-light">
          <tr>
            <th>Aseguradora</th>
            <th>Correo</th>
            <th>NIT</th>
            <th>Persona de contacto</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
  
        <tbody>
          <ng-container *ngIf="!loading;else loading_templ">
            <ng-container *ngIf="insurers.length>0;else not_results">
              <tr *ngFor="let insurance of insurers;let i = index">
                <td>
                  <div class="d-flex flex-column  ">
                    <span>                    
                      {{insurance.name}}
                    </span>
                    <span>                    
                     Teléfono: {{insurance.phone}}
                    </span>
                  </div>
                </td>

                <td >{{insurance.email}}</td>

                <td >{{insurance.nit}}</td>

                <td>
                  <div class="d-flex flex-column  ">
                    <span>                    
                      {{insurance.contactName}}
                    </span>
                    <span>                    
                     Teléfono: {{insurance.contactPhone}}
                    </span>
                  </div>
                </td>

                <td [innerHTML]="insurance.status | spanStatus"></td>

                <td>
                  <div class="btn-group dropdown">
                    <button type="button" class="btn dropdown-toggle btn-outline-primary" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <a [routerLink]="'/dashboard/aseguradoras/editar-aseguradora'" [state]="{insurance:insurance}" class="dropdown-item">Editar</a>
                      <a (click)="changeStatus(insurance._id ? insurance._id : '', insurance.status)" class="dropdown-item">{{insurance.status === true ? 'Deshabilitar' : 'Habilitar'}}</a>
                      <a (click)="deleteinsurance(insurance._id)" class="dropdown-item text-danger">Eliminar</a>
                    </div>
                  </div>
                </td>

              </tr>
            </ng-container>
          </ng-container>
  
          <ng-template #loading_templ>
            <tr>
              <td colspan="6">
                <app-loading-table></app-loading-table>
              </td>
            </tr>
          </ng-template>
  
          <ng-template #not_results>
            <tr>
              <td colspan="6">
                <app-not-results-table></app-not-results-table>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
  
     <div class="d-flex justify-content-between px-3 table-footer">
      <div class="d-flex align-items-center">
        <span class="table-footer-text">
          Mostrando: {{paginationDetails && paginationDetails.page > 1 ? ((paginationDetails.page - 1) * (paginationDetails.limit )) + insurers.length : insurers.length}} - 
          de {{paginationDetails && paginationDetails.totalDocs ? paginationDetails.totalDocs : 0}}</span>
      </div>

        <nav aria-label="Page navigation">
          <ngb-pagination *ngIf="paginationDetails && paginationDetails.totalPages > 1" class="d-flex mt-3"
            (pageChange)="(page=$event || 1);(getinsurers())" [collectionSize]="paginationDetails.totalDocs || 0"
            [pageSize]="paginationDetails.limit || 0">
          </ngb-pagination>
        </nav>
     </div>
  </div>
</div>
  
  