
<div class="card graficas w-100" style="overflow: auto; box-shadow: #2E4A76 0px 3px 8px; ;">

      
    <div style="justify-content: center;" class="card-header">
        <h5 class="card-header-title fw-custom custom-title-statistics">Reporte de encuesta</h5>
    </div>
      
    <!-- Body -->
    <div class="card-body grafica_lineal">
       <div class="row mb-2 mb-lg-0 mb-3">
        <div class="col-sm-6 col-md-auto  mb-2 mb-sm-0 mx-0 pr-sm-2 px-lg-2">
          <div class="d-flex ">
            <button
              [rangesSelect]="'day'"
              [daterangepicker]="'predefined'"
              [rangeDate]="filters.rangeDates"
              #datePicker
              class="btn btn-current-date dropdown-toggle filterDate d-flex justify-content-center "
              style="width: 100% !important; min-width: 200px !important; background-color: #f5f5f5 !important;"
            >
              <i class="tio-date-range"></i>
              <span #predefinedPreview class="ml-1"></span>
            </button>
            <button
              class="btn btn-ghost-secondary  p-2"
              *ngIf="btnCancelSearchByDates"
              (click)="searchWithoutDates()"
            >
              <i class="tio-clear icon-botton"></i>
            </button>
          </div>
        </div>

      </div>

      <ng-container *ngIf="!loading;else loading_templ">
        <ng-container *ngIf="(results).length>0;else not_resultss">
          <div *ngFor="let question of results" class="card p-5 mb-3 position-relative mt-3" style="border: 1px solid rgba(29, 112, 183, 1);">

              <div class="mx-4 ">
                  <h3 class=" mb-2 question">
                      {{question.questionText}}
                  </h3>
          
                  <div *ngIf="question.options">
                      <ul class="style-list-survey mb-0 pb-0" >
                          <li  *ngFor="let respuesta of question.options">
                            <div  class="option-answer">
                                  <input 
                                      class="checkbox-encuesta mt-0 mr-2" 
                                      type="checkbox" 
                                      id="flexCheckDefault" 
                                      disabled="true"
                                  >
                                  <span class="answer">{{respuesta.option}}</span>
                            </div>
                            <span>{{respuesta.percentage}}% [{{respuesta.selectedCount}} encuestas]</span>
                          </li>
                      </ul>
                  </div>
                  <div *ngIf="question.totalComments" class="d-flex flex-column">
                      <span>{{question.totalComments}} encuestas con comentario</span>
                      <button class="btn btn-sm btn-primary mt-2" style="width: 150px;" (click)="viewDetail(question)">Ver respuestas</button>
                  </div>
              </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #loading_templ>
        <app-loading-table></app-loading-table>
      </ng-template>

      <ng-template #not_resultss>
        <app-not-results-table></app-not-results-table>
      </ng-template>
    </div>
</div>

