.title-logo {
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 25px !important;
    text-align: left !important;
    color: rgba(46, 74, 118, 1) !important;
    margin-bottom: 0px !important;
}

.sub-title-logo {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 25px !important;
    text-align: left !important;
    color: rgba(180, 180, 180, 1) !important;
}