.container-pdf {
    border: 1px solid #2E4A76;
    padding: 10px;
    width: 100%;
    min-width: 880px;
    min-height: 1103px;
    border-radius: 8px;
}

.text-header-pdf {
    color: #2E4A76;
    font-size: 37px;
    font-weight: 900;
    line-height: 28px;
    // text-align: end;
}

.text-header-pdf-2 {
    color: #2E4A76;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: end;
}

.text-footer {
    color: #2E4A76;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    text-align: end;
}