<div id="inicio">
  <div class="section-start" >
    <div class="container row pt-3">
        <section class="col-12 col-md-8">
          <span class="title_principal mr-2 mr-md-5">
            Atención medica a tu alcance, sin salir de tu casa
          </span>
          <ul class="p-0 m-0 mt-4 mt-md-6">
            <li class="mb-1 mb-md-4">
              <img src="assets/images/landing/icon-checkbo.png" alt="">
              Permite consultas medicas sin necesidad de desplazarse
            </li>
            <li class="mb-1 mb-md-4">
              <img src="assets/images/landing/icon-checkbo.png" alt="">
              Ahorra en transporte y tiempo de espera
            </li>
            <li class="mb-0 mb-md-4">
              <img src="assets/images/landing/icon-checkbo.png" alt="">
              Facilita la atención medica en areas remotas
            </li>
          </ul>
        </section>
  
        <section class="col-12 col-md-4 d-flex justify-content-center ">
          <img class="img-first" src="assets/images/landing/firs-image.png" alt="">
        </section>
    </div>
  </div>
  
  <div class="row mx-0 mb-3" >
    <div class="col-12 col-sm-5 section-2">
      <div class="d-flex flex-column mr-5 mb-3 mb-md-0">
        <span class="section-2-number">
          +15
        </span >
        <span class="section-2-letter">
          Especialistas
        </span>
      </div>
  
      <div class="d-flex flex-column mr-5">
        <span class="section-2-number">
          +2000
        </span >
        <span class="section-2-letter">
          Pacientes
        </span>
      </div>
    </div>
    <div class="col-12 col-sm-7 section-3 ">
      <span class="text-section-3 ml-lg-3 mr-lg-5">¡Inicia tu experencia hoy, conectate con nosotros!</span>
  
      <a class="btn-section-3 mt-3 mt-lg-0 ml-lg-6" [href]="redirectCreateRecruiter">Inicia sesión</a>
    </div>
  </div>
</div>

<!-- section-4 -->
<div class="container pt-5 my-5" id="servicios">
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-0 mb-lg-5 pb-5">
    <h2 class="section-4-font section-4-title">Atención médica en </h2>
    <span class="section-4-font section-4-title-resaltado ml-2 px-5">3 simples pasos :</span>
  </div>

  <div class="row mt-3 mt-lg-5">
    <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
      <div class="card-number">
        <span>1</span>
      </div>
      <p class="section-4-info">
        Regístrate y crea tu cuenta en nuestra plataforma
      </p>
    </div>

    <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
      <div class="card-number">
        <span>2</span>
      </div>
      <p class="section-4-info">
        Elige el tipo de consulta que necesitas y selecciona un médico disponible     
      </p>
    </div>

    <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
      <div class="card-number">
        <span>3</span>
      </div>
      <p class="section-4-info">
        Agenda tu cita virtual en el horario que mejor te convenga
      </p>
    </div>
  </div>
</div>


<!-- section-5 -->
<div class="section-5 pt-3" id="quienesSomos">
  <div class="container row">
    <section class="img-section-5-6-section col-12 col-md-6 col-lg-5 d-flex justify-content-center ">
      <img class="img-section-5-6 "  src="assets/images/landing/image-section-5.png" alt="">
    </section>

    <section class="col-12 col-md-6 col-lg-7 p-0 pl-3">
      <span class="section-5-title ">
        Conoce a nuestros médicos y descubre los beneficios de la <span>Telemedicina</span>
      </span>
      <p class="section-5-description pl-2 mt-4">
        Conéctate con nosotros y descubre a nuestros médicos especialistas, junto con todos los beneficios que la telemedicina tiene para ofrecerte
      </p>
    </section>
  </div>
</div>


<!-- section-6 -->
<div class="section-6" id="contactanos">
  <div class="container row">
    <section class="col-12 col-md-6 col-lg-5 d-flex justify-content-center ">
      <img style="max-width: 438.66px; max-height: 441px; " src="assets/images/landing/image-section-6.png" alt="">
    </section>

    <section class="section-6_1 col-12 col-md-6 col-lg-7 p-0 pl-3">
      <span class="section-6-title ">
        Sin fronteras, sin barreras.
      </span>
      <p class="section-6-description pl-2 mt-4">
        La mejor atención médica al alcance de todos
      </p>

      <a class="btn-section-5 mt-3 mb-5 mb-md-0" [href]="redirectCreateRecruiter">
        Agenda tu cita <img src="assets/images/landing/icon-external.png" alt="">
      </a>
    </section>
  </div>
</div>