p {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    text-align: center !important;
    color: rgba(46, 74, 118, 0.62) !important;
}

.url-footer {
    text-decoration: underline;
    font-weight: 600 !important;
}