.form-label {
    color: #000 !important;
    font-weight: 700 !important;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #009444;
}