<div class="px-3 px-md-8" translate="no">
  <div *ngIf="!virtual" class="row mb-8 justify-content-center" (click)="openModalSelectSubsidiary()">
    <div class="col-12 col-md-3 center-flex p-0">
      <label class="form-label text-primary fw-600 w-100 label-new-appointmet mb-0 pb-0" >
        <span>1.</span>Selecciona la sucursal
      </label>
    </div>

    <div class="col-12 col-md-auto container-paso-3 select  row">
      <div class="col-12 col-sm-4 text-center text-sm-end">
        <img src="assets/icons/new-appointment/icon-service.png" alt="icon-service">
      </div>      
      <div class="col-12 col-sm-8 text-center text-sm-start">
        <span>{{this.getControl('subsidiary')?.value ? this.getControl('subsidiary')?.value.name : 'Selecciona la sucursal'}}.</span>
      </div>

      <img *ngIf="getControl('subsidiary')?.value" class="icon-verify" src="assets/icons/icon-verify.png" alt="">

    </div>
  </div>

  <div class="row mb-8 justify-content-center" (click)="openModalSelectService()">
    <div class="col-12 col-md-3 center-flex p-0">
      <label class="form-label text-primary fw-600 w-100 label-new-appointmet mb-0 pb-0">
        <span>{{virtual ? '1' : '2'}}</span>.Selecciona Servicio
      </label>
    </div>

    <div class="col-12 col-md-auto container-paso-3  row" [ngClass]="{'select': forMedicoDisponible || (!getControl('subsidiary')?.value && virtual) || (getControl('subsidiary')?.value && !virtual)}">
      <div class="col-12 col-sm-4 text-center text-sm-end">
        <img src="assets/icons/new-appointment/icon-service.png" alt="icon-service">
      </div>      
      <div class="col-12 col-sm-8 text-center text-sm-start">
        <!-- <span> {{this.getControl('service')?.value ? this.getControl('service')?.value.name : 'Selecciona el servicio deseado'}}</span> -->
        <span>{{        
          this.getControl('service')?.value ? this.getControl('service')?.value.length + ' Servicio'+(this.getControl('service')?.value.length > 1 ? 's':'')+' selecionado'+(this.getControl('service')?.value.length > 1 ? 's':'')+': ' + (total | dollar ) : 'Selecciona los servicios deseados'
        }}</span>
      </div>

      <img *ngIf="getControl('service')?.value" class="icon-verify" src="assets/icons/icon-verify.png" alt="">

    </div>
  </div>
  
  <div class="row mb-8 justify-content-center" (click)="openModalSelectMedico()">
    <div class="col-12 col-md-3 center-flex p-0">
      <label class="form-label text-primary fw-600 w-100 label-new-appointmet mb-0 pb-0">
        <span>{{virtual ? '2' : '3'}}</span>.Selecciona médico
      </label>
    </div>
    <div class="col-12 col-md-auto container-paso-3 disabled-paso-3 row" [ngClass]="{'select': getControl('service')?.value}">
      <div class="col-12 col-sm-4 text-center text-sm-end">
        <img src="assets/icons/new-appointment/icon-service.png" alt="icon-service">
      </div>      
      <div class="col-12 col-sm-8 text-center text-sm-start">
        <span>{{this.getControl('medico')?.value ? this.getControl('medico')?.value.names+' '+ this.getControl('medico')?.value.last_names : 'Selecciona el médico'}}. </span>
      </div>

      <img *ngIf="getControl('medico')?.value" class="icon-verify" src="assets/icons/icon-verify.png" alt="">

    </div>
  </div>

  <div class="row mb-8 justify-content-center" (click)="openModalSelectDateAndHourModal()">
    <div class="col-12 col-md-3 center-flex p-0">
      <label class="form-label text-primary fw-600 w-100 label-new-appointmet mb-0 pb-0">
        <span>{{virtual ? '3' : '4'}}</span>.Selecciona fecha y Hora
      </label>
    </div>
    <div class="col-12 col-md-auto container-paso-3 disabled-paso-3 row" [ngClass]="{'select': getControl('medico')?.value}">
      <div class="col-12 col-sm-4 text-center text-sm-end">
        <img src="assets/icons/new-appointment/icon-service.png" alt="icon-service">
      </div>      
      <div class="col-12 col-sm-8 text-center text-sm-start">
        <span>{{this.getControl('date')?.value && this.getControl('hour')?.value ? (this.getControl('date')?.value | date:'EEEE, MMMM d, y'|titlecase) +' de '+this.getControl('hour')?.value.hours : 'Selecciona la fecha y hora'}} </span>
      </div>

      <img *ngIf="getControl('date')?.value && getControl('hour')?.value" class="icon-verify" src="assets/icons/icon-verify.png" alt="">

    </div>
  </div>

  <div class="d-flex align-items-center ml-3">

    <form #fileUploadForm="ngForm">
      <div class="upload-btn-wrapper">
        <button class="btn btn-add-document">{{ selectedFile ? 'Cambiar documento' : 'Agregar archivo a mi cita'}}</button>
        <input  type="file" (change)="onFileSelected($event)" accept=".pdf"/>
      </div>
    </form>
    <span class="ml-2" *ngIf="selectedFile">{{selectedFile.name}}</span>

  </div>
</div>

<div class="row mt-3">
  <div class="col-12 d-flex justify-content-end">
    <ng-content select="[backButton]"></ng-content>
    <button (click)="nextForm()" class="btn btn-primary" style="width: auto;">Siguiente</button>
  </div>
</div>