
<main id="content" role="main" class="flex-grow-1 width-auth">
  <!-- Form -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xl-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark bg-cover"  style="background-image: url(/assets/images/auth/login.png); left: -34px;">
        <div class="flex-grow-1 p-5">
        </div>
      </div>
      <div *ngIf="sendEmail === false" class="col-lg-6 col-xl-6 d-flex justify-content-center align-items-center min-vh-lg-100">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
          <!-- Heading -->
          <div class="text-center mb-5 mb-md-7">
            <a class="navbar-brand d-flex justify-content-center mb-5" aria-label="Telemedicina Analiza El Salvador" routerLink="/auth">
              <img  src="/assets/logos/telemedicina.png" alt="Telemedicina Analiza El Salvador" width="162">
            </a>
            <h1 class="h2">¿Olvidaste tu contraseña?</h1>
            <p>Ingresa el email con el que te registraste en Telemedicina Analiza El Salvador.</p>
          </div>
          <!-- End Heading -->

          <!-- Form -->
          <form>
            <div class="mb-4">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="signupModalFormResetPasswordEmail" tabindex="0">Tu E-mail</label>

                <a class="form-label-link"  routerLink="/auth">
                  <i class="bi-chevron-left small ms-1"></i> Volver al Inicio de sesión
                </a>
              </div>
              <input
                [formControl]="emailForm"
                [class]="emailForm.invalid && submited?'is-invalid':''"
                type="email"
                name="email"
                aria-label="E-mail"
                class="form-control form-control-lg"
              />
              <span *ngIf="emailForm?.invalid && submited" class="invalid-feedback d-block">{{getEmailErrorMessage()}}</span>
            </div>
            <!-- End Form -->

            <div class="d-grid mb-3">
              <button (click)="send()" type="button"  class="btn btn-primary btn-lg">Recuperar contraseña</button>
            </div>

            <div class="text-center">
              <!-- <p>¿No tienes una cuenta? <a class="link"  routerLink="/auth/register">Regístrate</a></p> -->
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>

      <!-- ******************************************************************************************** -->
      <div *ngIf="sendEmail === true" class="col-lg-6 col-xl-6 d-flex justify-content-center align-items-center min-vh-lg-100">
        <div class="flex-grow-1 mx-auto" style="max-width: 32rem;">
          <!-- Heading -->
          <div class="text-center mb-1 mb-md-7" style="margin-bottom: 5px !important;">
            <a class="navbar-brand d-flex justify-content-center mb-5" aria-label="Telemedicina Analiza El Salvador" routerLink="/home">
              <img  src="/assets/logos/telemedicina.png" alt="Telemedicina Analiza El Salvador" width="162">
            </a>
            <h1 class="h2">El correo electrónico ha sido enviado</h1>
            <p>por favor revise su bandeja de entrada para obtener instrucciones sobre cómo restablecer la contraseña.</p>
          </div>

          <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <img style="margin: 30px; height: 154px;" src="../../../assets/sendMessage.svg" alt="">
            <div style="width: 100%; height: 45px;" class="d-grid mb-3">
              <button routerLink="/auth" type="button"  class="btn btn-primary btn-lg">Iniciar Sesión</button>
            </div>

            <div class="text-center">
              <p>¿No recibiste un correo? <a class="link"  routerLink="/auth/recovery-password" (click)="sendEmail = false">Enviar nuevamente</a></p>
            </div>
          </div>


          <!-- End Heading -->

          <!-- Form -->

          <!-- End Form -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Form -->
</main>
