<div class="nuestros_servicios">
    <div class="container">
        <span class="title_proncipal mr-2 mr-md-5">
            Nuestros Servicios
        </span>
    </div>
</div>

<div class="container">
  <section class="mt-6 mb-10">
    <h2 class="section-2_title mt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </h2>

    <div class="d-flex flex-column flex-md-row justify-content-between mt-3">
        <p class="section-2_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
  </section>
  
  
  <section class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 card mb-3" style="max-width: 407px !important;">
        <div class="card-body px-0">
            <img class="img-section-2 mt-3" src="assets/images/services/section-3.png" alt="Imagen ilustrativa seccion 3 Telemedicina">

            <h2 class="section-2_title mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p class="section-2_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <div class="d-flex justify-content-end mt-3">
                <button class="btn section-2_btn">Hacer Cita</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 card mx-3 mx-xl-4 mb-3" style="max-width: 407px !important;">
        <div class="card-body px-0">
            <div class="d-flex justify-content-end mb-3">
                <button class="btn section-2_btn">Hacer Cita</button>
            </div>

            <h2 class="section-2_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p class="section-2_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <img class="img-section-2 mt-3" src="assets/images/services/section-3.png" alt="Imagen ilustrativa seccion 3 Telemedicina">
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 card " style="max-width: 407px !important;">
        <div class="card-body px-0">
            <img class="img-section-2 mt-3" src="assets/images/services/section-3.png" alt="Imagen ilustrativa seccion 3 Telemedicina">

            <h2 class="section-2_title mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p class="section-2_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <div class="d-flex justify-content-end mt-3">
                <button class="btn section-2_btn">Hacer Cita</button>
            </div>
        </div>
    </div>

  </section>

  <section class="mt-8">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img class="img-section-3 mt-3" src="assets/images/services/section-4.png" alt="Imagen ilustrativa seccion 4 Telemedicina">
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
            <h2 class="section-4_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            <p class="section-4_description mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p class="section-4_description mt-1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>

            <div class="d-flex justify-content-start mt-4">
                <button class="btn section-3_btn">Hacer mi cita</button>
            </div>
        </div>
    </div>
  </section>

  <section class="mt-10">
    <h2 class="text-center">Servicios</h2>
    <div class="row px-3 justify-content-center">
        <div class="col-12 col-sm-6 mx-2 col-md-4 col-lg-2 mr-lg-3 mb-2 chip_service">
            <img class="mr-1" src="assets/icons/icon-microfono.png" alt="">
            Servicio 1
        </div>

        <div class="col-12 col-sm-6 mx-2 col-md-4 col-lg-2 mx-lg-3 mb-2 chip_service active">
            <img class="mr-1" src="assets/icons/icon-microfono.png" alt="">
            Servicio 2
        </div>

        <div class="col-12 col-sm-6 mx-2 col-md-4 col-lg-2 mx-lg-3 mb-2 chip_service">
            <img class="mr-1" src="assets/icons/icon-microfono.png" alt="">
            Servicio 3
        </div>

        <div class="col-12 col-sm-6 mx-2 col-md-4 col-lg-2 mx-lg-3 mb-2 chip_service">
            <img class="mr-1" src="assets/icons/icon-microfono.png" alt="">
            Servicio 4
        </div>
        <div class="col-12 col-sm-6 mx-2 col-md-4 col-lg-2 ml-lg-3 mb-2 chip_service">
            <img class="mr-1" src="assets/icons/icon-microfono.png" alt="">
            Servicio 5
        </div>
    </div>
  </section>

  <section class="mt-10">
    <div class="row section5 p-1 p-md-3">
        <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
            <div>
                <h2 class="section-4_title">Servicios lorem .</h2>
                <p class="section-4_description mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                </p>
                <p class="section-4_description mt-1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

        <div class="col-12 col-sm-6 pr-0">
            <img class="img-section-5 " src="assets/images/services/section-5.png" alt="Imagen ilustrativa seccion 4 Telemedicina">
        </div>

    </div>
  </section>
</div>