<div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
  <span class="hs-nav-scroller-arrow-prev" style="display: none;">
    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
      <i class="tio-chevron-left"></i>
    </a>
  </span>

  <span class="hs-nav-scroller-arrow-next" style="display: none;">
    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
      <i class="tio-chevron-right"></i>
    </a>
  </span>

  <ul class="nav nav-tabs align-items-center">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/profiles">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/profiles/sello-firma">PDF</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/user-profile/projects">Ordenes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/user-profile/connections">Seguridad</a>
    </li> -->
  </ul>
</div>
