
  <div class="offcanvas offcanvas-end" style="overflow: auto;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="card-header-title" >Estatus de médicos</h4>
      <button type="button" class="close  btn-icon" data-bs-dismiss="offcanvas" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card card-lg sidebar-card " style="overflow: hidden !important;">

  
      <div class="card-body sidebar-body sidebar-scrollbar p-0">
        <div class="d-flex justify-content-end px-3 py-2" *ngxPermissionsOnly="['admin','sac']">
          <ng-select
            class="container-select-status"
            [(ngModel)]="filter.statusMedico"
            placeholder="Estados"
            (change)="getMedicos()"
          >
            <ng-option *ngFor="let status of ['enLinea','ausente','enConsulta','desconectado']" [value]="status">
              <div class="d-flex align-items-center" [innerHTML]="status | parseStatusMedico"></div>
            </ng-option>
          </ng-select>
        </div>

        <div class="d-flex justify-content-end  py-2" >
          <app-select-especialidad [customClass]="'container-select-status'" (changeEspecialidad)="filter.especialidad = $event; getMedicos()"></app-select-especialidad>
        </div>

        
        <div class="" *ngIf="this.appointmeRemision &&( !this.appointmeRemision.typeAppoinment.online || newVirtual)">
          <h5 class="form-label text-primary fw-600 px-2 mb-2">Tipo de cita inmediata</h5>
            <div class="d-flex flex-column flex-md-row w-100 justify-content-center align-items-center">
                <div class="card border-0 position-relative card-radio card-radio-custom ratioMeetingTool mx-2 mb-1">
                    <div>
                        <span class="ratioMeetingTool_title">Virtual</span>
                    </div>
                    <div>
                        <input (change)="selectTypeAppointment('Virtual')" [(ngModel)]="typeAppointment" type="radio" class="form-check-input" name="meetingTool" [id]="'Virtual'" [value]="'Virtual'" >
                        <label [for]="'Virtual'"></label>
                    </div>
                </div>
                <div class="card border-0 position-relative card-radio card-radio-custom ratioMeetingTool mx-2 mb-1">
                    <div>
                        <span class="ratioMeetingTool_title">Presencial</span>
                    </div>
                    <div>
                        <input (change)="selectTypeAppointment('Presencial')" [(ngModel)]="typeAppointment" type="radio" class="form-check-input" name="meetingTool" [id]="'Presencial'" [value]="'Presencial'" >
                        <label [for]="'Presencial'"></label>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="!loading">
          <ng-container *ngIf="medicos.length>0;else notResult">
            <ul class="m-0 p-0 ">
                <ng-container *ngxPermissionsOnly="['admin','sac','medico']">
                  <li
                    class="d-flex justify-content-between align-items-center container-element px-3" 
                    *ngFor="let medico of medicos; let i = index;"
                    [ngClass]="{ 'bg-light-gray': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
                  >
                      <div class="d-flex align-items-center w-100 py-2">
                          <div class="container-status" [innerHTML]="medico.statusMedico | parseStatusMedico : 'color'"></div>
                          <div class="ml-2 w-100">
                            <h5 class="name_doctor p-0 m-0">
                                {{medico.names}} {{medico.last_names}}
                            </h5>
                            <div class="d-flex justify-content-between">
                              <span class="p-0 m-0" style="color: #4e4e4e;" >{{medico.especialidad ? medico.especialidad.name : ''}}</span>

                              <div  [innerHTML]="medico.statusMedico | parseStatusMedico : 'text'"></div>
                            </div>

                            <button 
                              style="width: auto;" 
                              *ngIf="medico.newHourDisponible" 
                              (click)="agendaInmediata(medico)" 
                              class="btn btn-primary btn-sm mt-2"
                              data-bs-dismiss="offcanvas" aria-label="Close"
                            >
                              Agenda inmediata [{{medico.newHourDisponible.hours}}]
                            </button>

                          </div>
                      </div>
                      <button *ngIf="medico.statusMedico === 'enLinea'" class="btn-add" data-bs-dismiss="offcanvas" aria-label="Close" (click)="openModalNewAppoinment(medico)">
                          <img src="assets/icons/icon-add-circle.png" alt="">
                      </button>
                  </li>
                </ng-container>
                <ng-container *ngxPermissionsOnly="'patient'">
                  <ng-container *ngFor="let medico of medicos; let i = index;">
                    <li
                      class="d-flex justify-content-between align-items-center container-element px-3" 
                      *ngIf="medico.statusMedico === 'enLinea'"
                      [ngClass]="{ 'bg-light-gray': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
                    >
                        <div class="d-flex align-items-center py-2">
                            <div  class="container-status" [innerHTML]="medico.statusMedico | parseStatusMedico : 'color'"></div>
                            <div class="ml-2">
                              <h5 class="name_doctor">  
                                  {{medico.names}} {{medico.last_names}}  
                              </h5>
                              <div class="d-flex justify-content-between">
                                <span class="p-0 m-0" style="color: #4e4e4e;" >{{medico.especialidad ? medico.especialidad.name : ''}}</span>

                                <div  [innerHTML]="medico.statusMedico | parseStatusMedico : 'text'"></div>
                              </div>

                              <button 
                                style="width: auto;" 
                                *ngIf="medico.newHourDisponible" 
                                (click)="agendaInmediata(medico)" 
                                class="btn btn-primary btn-sm mt-2"
                                data-bs-dismiss="offcanvas" aria-label="Close"
                              >
                                Agenda inmediata [{{medico.newHourDisponible.hours}}]
                              </button>
                            </div>
                        </div>
                        <button *ngIf="medico.statusMedico === 'enLinea'" class="btn-add" data-bs-dismiss="offcanvas" aria-label="Close" (click)="openModalNewAppoinment(medico)">
                            <img src="assets/icons/icon-add-circle.png" alt="">
                        </button>
                    </li>
                  </ng-container>
                </ng-container>
            </ul>

            <nav aria-label="Page navigation">
              <ngb-pagination *ngIf="paginationDetails && paginationDetails.totalPages > 1" class="d-flex mt-3"
                (pageChange)="(page=$event || 1);(getMedicos())" [collectionSize]="paginationDetails.totalDocs || 0"
                [pageSize]="paginationDetails.limit || 0">
              </ngb-pagination>
            </nav>
          </ng-container>

          <ng-template #notResult>
            <div class="p-3" *ngxPermissionsExcept="'patient'">
              <p class="my-2 text-center">No hay médicos que mostrar</p>
            </div>
          </ng-template>
          
          <ng-container *ngxPermissionsOnly="'patient'">
            <div class="p-3" *ngIf="medicosDisponibles === 0">
              <p class="my-2 text-center">No hay médicos que mostrar</p>
            </div>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="loading">
          <app-loading-table></app-loading-table>
        </ng-container>

      </div>
       
      <div class="card-footer">
        <button class="btn btn-primary" (click)="openModalNewAppoinment(null)" data-bs-dismiss="offcanvas" aria-label="Close">Crear Cita</button>
      </div>
    </div>
</div>

