<div class="modal-header border-bottom pb-3">
    <h5 class="modal-title text-center w-100" id="addQuestionLabel">Seleciona Médico</h5>
    <button type="button" class="btn btn-sm p-0 close " (click)="ngbActiveModal.close()">          
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
            <path d="M19 5L5 19M5.00001 5L19 19" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>

<div class="modal-body">
    <ng-container *ngIf="loading">
      <app-loading-table variant="spinner"></app-loading-table>
    </ng-container>
    <form class="container mb-4 mt-2 " *ngIf="!loading" [formGroup]="medicoForm">
        <div class="row border-bottom">
            <div class="col-12">
                <div class="input-group input-group-merge input-group-borderless input-group-flush input-group-light pr-3 mb-2 w-100" >
                    <input 
                        [formControl]="inputFilter"
                        style="padding-right: 2.75rem !important; padding-left: 0.75rem !important;" 
                        type="text" 
                        class="form-control center" 
                        id="inputGroupMergeSearch" 
                        placeholder="Buscar Médico"  
                        aria-describedby="inputGroupMergeSearchlAddOn"
                    >
                    <div class="input-group-append input-group-text"  id="inputGroupMergeSearchlAddOn">
                    <img src="assets/icons/icon-search.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2" >
                <app-select-especialidad [especialidadSelected]="especialidad" (changeEspecialidad)="especialidad = $event; getmedicos()"></app-select-especialidad>
            </div>
        </div>

        <div *ngIf="!inputFilter.value">
            <div class="form-check form-check-inline d-flex align-items-center text-left border-bottom py-4" *ngFor="let medico of medicos" [ngClass]="{'selected-medico-row': medicoSelect?._id === medico._id}">
                <input
                  formControlName="medico"
                  [value]="medico"
                (change)="selectmedico(medico)"
                  class="form-check-input cursor-pointer"
                  type="radio"
                  [id]="medico._id"
                  name="medico" 
                  style="height:1rem !important; width:1rem;"
                />
                <label class="ms-2 form-check-label cursor-pointer w-100" [for]="medico._id">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <div>
                                <img
                                    [src]="medico.imageProfile || 'assets/logos/telemedicina-mini-back.png'"
                                    width="50"
                                    height="50"
                                    alt="Doctor"
                                />
                            </div>
                            <div class="d-flex flex-column justify-content-center ml-2">
                                <span>{{medico.names}} {{medico.last_names}}</span>
                                <span style="color: #4e4e4e;" *ngIf="medico.especialidad">{{medico.especialidad.name}}</span>
                            </div>
                        </div>

                        <button class="btn btn-sm btn-primary" style="height: 35px; width: 100px;" (click)="openModalDetailMedico(medico);$event.stopPropagation()">Ver perfil</button>
                    </div>
                </label>
            </div>
        </div>

        <!-- servicios con filtros  -->
        <div *ngIf="inputFilter.value">
            <div class="form-check form-check-inline d-flex align-items-center text-left border-bottom py-4" *ngFor="let medico of medicoFilters" [ngClass]="{'selected-medico-row': medicoSelect?._id === medico._id}">
                <input
                  formControlName="medico"
                  [value]="medico"
                (change)="selectmedico(medico)"
                  class="form-check-input cursor-pointer"
                  type="radio"
                  [id]="medico._id"
                  name="medico" 
                  style="height:1rem !important; width:1rem;"
                />
                <label class="ms-2 form-check-label cursor-pointer w-100" [for]="medico._id">
                  <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <div>
                                <img
                                    [src]="medico.imageProfile || 'assets/logos/telemedicina-mini-back.png'"
                                    width="50"
                                    height="50"
                                    alt="Doctor"
                                />
                            </div>
                            <div class="d-flex flex-column justify-content-center ml-2">
                                <span>{{medico.names}} {{medico.last_names}}</span>
                                <span style="color: #4e4e4e;" *ngIf="medico.especialidad">{{medico.especialidad.name}}</span>
                            </div>
                        </div>

                        <button class="btn btn-sm btn-primary" style="height: 35px; width: 100px;" (click)="openModalDetailMedico(medico);$event.stopPropagation()">Ver perfil</button>
                    </div>
                </label>
            </div>
        </div>
       

        <div class="d-flex justify-content-center mt-3"  *ngIf="inputFilter.value && medicos.length == 0 && medicoFilters.length == 0">
            <p class="text-danger">No se encontrarón resultados para <span style="color: #000; font-weight: 900;">"{{inputFilter.value}}"</span></p>
        </div>

        <div class="d-flex justify-content-center mt-3"  *ngIf="subsidiary && medicos.length == 0">
            <p class="text-danger">No se encontrarón médicos para esta sucursal</p>
        </div>

        <div class="d-flex justify-content-center mt-3"  *ngIf="especialidad && medicos.length == 0">
            <p class="text-danger">No se encontrarón médicos para esta especialidad</p>
        </div>

    </form>
</div>

<div class="modal-footer row ">
    <div class="col-12 d-flex justify-content-end">
    <button [disabled]="medicoForm.invalid" (click)="setmedico()" class="btn btn-primary" style="width: 150px;">Aceptar</button>
    </div>
</div>