
    <!-- Card -->
    <div class="card graficas w-100" style="overflow: auto; box-shadow: #2E4A76 0px 3px 8px; ;">
    <div class="d-flex justify-content-end my-2">
        <button type="button" class="btn btn-sm btn-ghost-primary mr-2 "(click)="exportToExcel()">
          Descargar Excel <i class="fas fa-file-download"></i>
        </button>
      </div>
      
        <div style="justify-content: center;" class="card-header">
            <h5 class="card-header-title fw-custom custom-title-statistics">Ingresos por tipo de cita</h5>
        </div>
        
      <!-- Header -->
      <div class="card-header  w-100" >
        <div class="row align-items-sm-center mb-1  w-100">

          <div class="col-md-4 mb-2 mb-lg-0" *ngIf="!rangeDates">
            <div class="d-flex align-items-center">
              <button (click)="todayBtn()" type="button" class="btn btn-white mr-3">Fecha actual</button>

              <button (click)="prevBtn()" type="button"
                class="btn btn-icon btn-sm btn-ghost-secondary btn-no-focus rounded-circle mr-1" tooltip="Mes anterior"
                title="Mes Anterior">
                <i class="tio-chevron-left"></i>
              </button>
              <button (click)="nextBtn()" type="button"
                class="btn btn-icon btn-sm btn-ghost-secondary btn-no-focus rounded-circle ml-1" tooltip="Siguiente mes"
                title="Siguiente mes">
                <i class="tio-chevron-right"></i>
              </button>

              <div class="ml-3">
                <h4 class="h3 mb-0 text-capitalize" >{{currentYearDate }}</h4>
              </div>
            </div>
          </div>

          
          <div class="col-md-4 mb-2 mb-md-0 d-flex">
            <button
              [daterangepicker]="'predefined'"
              [rangeDate]="filters.rangeDates"
              #datePicker
              class="btn btn-current-date dropdown-toggle filterDate d-flex justify-content-center "
              style="width: 100% !important; min-width: 200px !important; background-color: #f5f5f5 !important;"
            >
              <i class="tio-date-range"></i>
              <span #predefinedPreview class="ml-1"></span>
            </button>
            <button
              class="btn btn-ghost-secondary  p-2"
              *ngIf="btnCancelSearchByDates"
              (click)="searchWithoutDates()"
            >
              <i class="tio-clear icon-botton"></i>
            </button>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <app-select-medico [medicoDelete]="true" (changeEmployee)="setMedico($event)"></app-select-medico>
          </div>



          <div class="col-12 d-flex mt-2 align-items-center" *ngFor="let type of typesAppinment">
            <span>{{type.name}}: </span>
            <h4 class="h3 mb-0 text-capitalize ml-2" ><strong>$ </strong> {{type.ingreso}}</h4>
          </div>

        </div>
      </div>
      <!-- End Header -->
       
      <!-- Body -->
      <div class="card-body grafica_lineal">

        <!-- Bar Chart -->
        <ng-container *ngIf="!loadGraficUsers">

          <ng-container *ngIf="!loadGraficUsers">
            <div class="chartjs-custom " *ngIf="dataLine.length>0;else not_results">
              <div style="height: 20rem;">
                <app-line-chart [datasets]="dataLine" [labels]="labelsBar" [sufixTicks]="'$ '"></app-line-chart>
              </div>
            </div>
          </ng-container>

          <ng-template #not_results>
            <app-not-results-table [title]="'para mostrar en la gráfica'"></app-not-results-table>
          </ng-template>
        </ng-container>

       
  

        <ng-container *ngIf="loadGraficUsers">
          <app-loading-table [rows]="4"></app-loading-table>
        </ng-container>

        <!-- End Bar Chart -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
