<!-- Footer-->
<footer class="footer  mx-0 px-0" style=" background-color: rgba(249, 249, 251, 1); height:  auto !important;">
    <div class="container py-3 d-flex first-section" >
      <div class="row pb-2  align-items-center">
        <div class="col-12 col-md-8 d-flex flex-column flex-md-row align-items-center">
            <img style="width: 156px; height: 52px;" src="assets/logos/telemedicina.png" alt="">
            <p class="text-footer ml-0 ml-4 mt-2">El mejor laboratorio centroamericano.</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <a class="btn-footer btn-footer-primary  mx-auto mr-sm-3 mb-2  "  [href]="redirectCreateRecruiter">Inicia Sesión</a>
                <a class="btn-footer btn-footer-secundary mx-auto "  [href]="redirectCreateRecruiterRegister">Registrate</a>
            </div>
        </div>
      </div>

      <!-- <hr class="separator" style="border: 1px solid #E9E9E9 !important"> -->

      <!-- <div class="row py-4 mb-5">
        <div class="col-6 col-md-2 mb-4">
          <h5 class="title-items-footer">Lorem  Ipsum</h5>
          <ul class="widget-list m-0 p-0">
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-4">
          <h5 class="title-items-footer">Lorem  Ipsum</h5>
          <ul class="widget-list m-0 p-0">
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h5 class="title-items-footer">Lorem  Ipsum</h5>
          <ul class="widget-list m-0 p-0">
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Lorem ipsum dolor</a>
              </li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h5 class="title-items-footer">Lorem  Ipsum info</h5>

            <ul class="widget-list m-0 p-0">
                <li class="widget-list-item">
                  <a class="widget-list-link" href="#">Dirección</a>
                </li>
                <li class="widget-list-item">
                  <a class="widget-list-link" href="#">Numero de Telefono</a>
                </li>
                <li class="widget-list-item">
                  <a class="widget-list-link" href="#">Correo Electronico</a>
                </li>
                <li class="widget-list-item">
                  <a class="widget-list-link" href="#">Sello de seguridad</a>
                </li>
            </ul>
        </div>

      </div> -->
    </div>

    <div class="footer-botom row py-2 px-0 mx-0" style=" background-color: #2E4A76 !important">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <span class="text-footer-bottom ">
          Copyright © {{currentYear}} Analiza Telemedicina , All rights reserved. Platform developed by <a class="url-footer"  href="https://vertikal.com.sv" target="_blank" >Vertikal</a>
        </span>
      </div>
    </div>
</footer>
  