.btn-historial-crm {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9b9c9d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}